<nav class="navbar navbar-expand bg-dark">
    <%= link_to "Gifto", root_path, {:class=>"navbar-brand"} %>
    <div class="navbar-nav">
        <ul class="navbar-nav">
            <% if current_user %>
                <li class="nav-item"> <%= link_to "My List", current_user, {:class=>"nav-link"} %> </li>
                <li class="nav-item"> <%= link_to "Friends", users_path, {:class=>"nav-link"} %> </li>
                <li class="nav-item"> <%= link_to "Logout", logout_path, {:class=>"nav-link logout"} %> </li>
            <% else %>
                <li class="nav-item"> <%= link_to "Login", login_path, {:class=>"nav-link login"} %> </li>
            <% end %>
        </ul> 
    </div>
</nav>