<!-- Login Page -->

<!-- Error -->
<div class="alertform" id="alert"><%= alert %></div>


<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
        <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab"> <a class="nav-link" href="signup">Create Account</href></a class></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <%= form_tag sessions_path do |form| %>
                <div class="group">
                    <%= label_tag :email, "Email", class:"label"%> 
                    <%= text_field_tag :email, nil, class:"input"%> 
                </div>
                <div class="group">
                    <%= label_tag :password, "Password", class:"label"%>
                    <%= password_field_tag :password, nil, class:"input"%>
                </div>
                <div class="group">
                    <%= submit_tag "Login", class: "button" %>
                </div>
                <% end %>
                <div class="hr"></div>
            </div>
        </div>
        
        <!-- Bottom of page text -->
        <div class="welcometext">
                <div> Welcome to GIFTO! <br>
                 Please login above if you already have <br>
                 an account! If you are new to GIFTO, <br>
                 simply select Create Account to begin! </div> 
        </div>
    </div>
</div>