<div class="container bootstrap snippet">
    <% if current_user == @user %>
        <h1>My Profile</h1>
    <% else %>
        <h1>Friend Profile</h1>
    <% end %>
    
    <div class="row">
        <div class="col-sm-10">
            <h2>Name: <%= @user.name %></h2>
            <h2>Email: <%= @user.email %></h2>
            <%= link_to 'Edit', edit_user_path(@user) %>
            <%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
            
        </div>
        
        <div class="WishList">
            <tabel>
                <th>Name</th>
                <th>Details</th>
                <% @user.gifts.each do |gift| %>
                    <p>Gift!</p>
                    <tr>
                        <td><%= gift.name %></td>
                        <td><%= gift.description %></td>
                    </tr>
                <% end %>
                <%= form_for([@user, @user.gifts.build]) do |f| %>
                    <tr>
                        <td><%= f.text_field :name %></td>
                        <td><%= f.text_field :description %></td>
                        <!--<%= f.hidden_field :user_id, value: @user.id %>-->
                        <!--<%= f.hidden_field :giver_id, value: -1 %>-->
                        <td><%= f.submit %></td>
                    </tr>
                <% end %>
            </tabel>
            
                
        </div>
    </div>
</div>
        
        
        
        