<!-- View Profile -->
<br>
<div class="login-wrap">
 <div class="login-html">
     <div class="container bootstrap snippet">
    <% if current_user == @user %>
        <h2>My Profile (<%= @user.name %> : <%= @user.email %>)</h1>
    <% else %>
        <h2><%= @user.name %> (<%= @user.email %>)</h2>
    <% end %>
         <div><%= image_tag("profile.jpg", :height => 100, :width => 100, :alt => "Profile Picture") %></div>
    <br>
    
    <div class="row">
        <div class="col-sm-10">
            <% if current_user == @user %>
                <%= link_to 'Profile Settings', edit_user_path(@user) %>
                <br>
                <%= link_to 'Delete Account', user_path(@user), method: :delete, data: { confirm: 'Are you sure you would like to delete your account? Please note, this cannot be undone.' } %>
                <br><br>
            <% end %>
            
            
        </div>
        
        <table class="g-table">
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
            </thread>
            
            <tbody>
                <% @user.gifts.each do |gift| %>
                    <tr>
                        <td><%= gift.name %></td>
                        <td><%= gift.description %></td>
                        <% if current_user == @user %>
                            <td><%= link_to 'Edit Gift', edit_user_gift_path(gift) %></td>
                        <% else %>
                            <td>Promise Gift</td>
                        <% end %>
                    </tr>
                <% end %>
                <% if current_user == @user %>
                <%= form_for([@user, @user.gifts.build]) do |f| %>
                    <tr>
                        <td><%= f.text_field :name %></td>
                        <td><%= f.text_area :description %></td>
                        <!--<%= f.hidden_field :user_id, value: @user.id %>-->
                        <!--<%= f.hidden_field :giver_id, value: -1 %>-->
                        <td><%= f.submit %></td>
                    </tr>
                <% end %>
                <% end %>
            </tbody>
            
              </div> 
        </div>
    </div>
</div>
        
        
        
        